body{
	background:linear-gradient(to right,blue,yellow);
}

.container-1{
	border:1px black solid;
	width:75%;
	margin:0 auto;
	text-align: center;
}

h1{
	text-transform: uppercase;
	color:white;
	animation-name: subject;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

@keyframes subject{
	0% {
		background-color: red;
		color:yellow;
	}
	25% {
		background-color: yellow;
		color:red;
	}
	50% {
		background-color: orange;
		color:green;
	}
	75% {
		background-color: green;
		color:blue;
	}
	100% {
		background-color:blue;
		color:pink;
	}
}